@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  @apply relative before:absolute hover:before:w-full transition-[text-shadow] duration-300 [text-shadow:_0_0_0_black];
}

a.active,
a:hover {
  @apply [text-shadow:_2px_0_0_black] before:w-full;
}

a::before {
  @apply transition-all bg-gray-800 w-0 h-[2px] -bottom-[1px] rounded-full;
}
